html{
  max-width: 1920px;
max-height: 1080px;
}




body{
 background-image: url(galaxy-night-landscape.jpg);
 background-size: 1920px;
max-width: 1920px;
max-height: 1080px;

}

.page-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left:95% ;
  
}

.section {
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(63, 217, 255, 0.329);
  background-color: transparent;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transition pour le fond et la bordure */
  
}

.section:hover {
 
  background-color: rgba(51, 53, 54, 0.705);
  border-color: rgba(63, 217, 255, 0.329);
}

.section.active {  /* Rétablir la règle .section.active */
  background-color: rgba(63, 217, 255, 0.329);
  border-color: rgba(63, 217, 255, 0.329);
}

.section-text {
  display: none; 
}



.page {
  display: none;
  
  
  
}

.page.active {
  display: block;

  
}









.circle {
  width: 450px; /* Ajustez la taille du cercle */
  height: 450px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.247); /* Choisissez la couleur de votre choix */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: auto;
  transform: translate(-50%, -50%); /* Centre le cercle parfaitement */
  z-index: 30; /* Assurez-vous que le cercle est au-dessus des autres éléments */
  border: 25px solid rgba(255, 255, 255, 0) ;
  box-shadow: 5px 5px 5px rgba(63, 217, 255, 0.329);
  }
 
 
 
  .photo{
  bottom: 0%;
  position: fixed;
  left: 35%;
  height: 80%;

 }

.candidature{
  position: absolute;
  color: rgb(255, 255, 255);
  top: 47%;
  left: 3%;
 font-size:350%;


}
 .candidature.active {
  opacity: 1;
  transform: translateX(0);
}


.coding{
  position: absolute;
  background:linear-gradient(to right,rgb(9, 145, 179),rgb(9, 145, 179));
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 600%;
  top: 30%;
  left: 3%;

}



.rectangle {
  width: 150px; /* Ajustez la taille du cercle */
  height: 150px;
  background-color: rgb(9, 145, 179); /* Choisissez la couleur de votre choix */
  position: absolute;
  top: 0%;
  left: 5%;
 

  z-index: 10; /* Assurez-vous que le cercle est au-dessus des autres éléments */
  border: 2px solid rgb(9, 145, 179);
  border-radius: 0%;
 
}


.name{
 
  top: 2%;
  left: 85%;
  position: absolute;
  background: linear-gradient(to right,rgb(255, 255, 255),rgb(255, 255, 255));
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 35px;

}


.mateis{
 
  top: 7%;
  left: 85%;
  position: absolute;
  background: linear-gradient(to right,rgb(9, 145, 179),rgb(9, 145, 179));
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 35px;

}

.logos{
  top: 0%;
  left: 11%;
  position: absolute;
  z-index: 11;
  font-size: 60px;
  color: rgb(0, 0, 0);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  
}












.logos.animated {
  animation: logoAnimation 1s forwards;
}

@keyframes logoAnimation {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

































.nav-button {
  display: inline-flex; /* Pour centrer le contenu */
  align-items: center; /* Pour centrer verticalement */
  justify-content: center; /* Pour centrer horizontalement */
  width: 40px; /* Largeur du bouton */
  height: 40px; /* Hauteur du bouton */
  border-radius: 50%; /* Rend le bouton rond */
  border: none; /* Pas de bordure */
  background-color: #ff000000; /* Couleur de fond */
  cursor: pointer; /* Curseur en forme de main */
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
  margin: 20px;
  top: 10%;
}

.nav-button:hover {
  background-color: rgba(63, 217, 255, 0.329); /* Changement de couleur au survol */
}

/* Flèche pour le bouton "Précédent" */
.prev-button::before {
  content: '';
  display: inline-block;
  width: 1px; /* Largeur de la tige */
  height: 2px; /* Hauteur totale de la flèche (tige + pointe) */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid white; /* Couleur de la flèche (blanc) */
  rotate: 270deg;
  position: absolute;
}

/* Flèche pour le bouton "Suivant" */
.next-button::before {
  content: '';
  display: inline-block;
  width: 1px; /* Largeur de la tige */
  height: 2px; /* Hauteur totale de la flèche (tige + pointe) */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid white; /* Couleur de la flèche (blanc) */
  transform: rotate(90deg);
 
}

/* Styles pour les boutons désactivés */
.nav-button:disabled {
  opacity: 0;
  cursor:default;
}
















.timeline-container {
  position: absolute;
  top: 5%;
  left: 19%;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 90%;
  background-color: #ff000000;/* Couleur de la ligne */
}

.timeline-item {
  padding:15px;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
}

.timeline-circle {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(9, 145, 179) ;/* Couleur du cercle */
  z-index: 1;

}

.timeline-content {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0); /* Couleur de fond du contenu */
  border-radius: 8px;
  border-color: rgb(9, 145, 179);
  border: 1px solid ;
  margin-top: 5px;
 color: rgb(255, 255, 255);
 border: solid 2px rgba(63, 217, 255, 0.329);
 transform: translateX(-100%);
 transition: opacity 1s ease-out, transform 1s ease-out;
}
.timeline-contents {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0); /* Couleur de fond du contenu */
  border-radius: 8px;
  border-color: rgb(9, 145, 179);
  border: 1px solid ;
  margin-top: 5px;
 color: rgb(255, 255, 255);
 border: solid 2px rgba(63, 217, 255, 0.329);
 transform: translateX(-100%);
 transition: opacity 1s ease-out, transform 1s ease-out;
}



.timeline-content.active {
  opacity: 1;
  transform: translateX(0);
}
.timeline-contents.active {
  opacity: 1;
  transform: translateX(0);
}

.timeline-content.right {
  text-align: right;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}


.timeline-content.right.active {
  opacity: 1;
  transform: translateX(0);
}





.timeline-content h3 {
  margin-top: 0;
  color: #ffffff; /* Couleur du titre */
}



.title-with-line {
  position: relative;
  padding-left: 30px; /* Adjust the padding to fit the line and some space */
                          color: #00000000;
  text-align: left; 
  font-size: 30px;
              -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
 
}
.title-with-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Length of the line */
  height: 2px; /* Thickness of the line */
  background-color: rgb(9, 145, 179) /* Color of the line */



}




.animate-text{
  visibility:hidden;
  color: white;
  position: absolute;
  text-align: left;
  border: 20px;
  padding: 20px;
  left: 10%;
  right: 10%;
  top: 16%;
  font-size: 25px;
  line-height: 35px;
  display: inline-block;


}









.timeline-containers {
  position: absolute;
  top: 5%;
  left: 14%;
}

.timeline-containers::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 90%;
  background-color: #ffffff00;/* Couleur de la ligne */
}



.title-with-lines {
  position: relative;
  padding-left: 30px; /* Adjust the padding to fit the line and some space */
                          color: #00000000;
  text-align: left; 
  font-size: 30px;
              -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
 
}
.title-with-lines::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Length of the line */
  height: 2px; /* Thickness of the line */
  background-color: rgb(9, 145, 179); /* Color of the line */



}




